
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
*{
    font-family:Roboto;
}
body{
    margin:0;
    display:flex;
    flex-direction: column;
}

a {    /* this removes the line under the links */
    text-decoration: none;
  }

.header,.content,.footer,.call-action{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #1F2937;
}

.top-bar{
    color:#F9FAF8;
    font-size: 24px;
    font-weight:900;
    display:flex;
    justify-content:space-between;
    padding:20px 0;
}
.top-bar-link{
    font-weight:100;
    list-style-type: none;
    display:flex;
    padding: 0;
    margin: 0;
}

.top-bar-link >li{
    padding-left:24px;
}

.hero-secondary,.top-bar-link, .title > p, .image-placeholder>p{
    font-weight: 300;
    font-size:18px;
    color:#E5E7EB;
}


.splash-content{
    margin: 100px 0;
    display: flex;
    gap: 36px;
    justify-items: center;
    justify-content:center;
}

.title > h1{
    font-size:48px;
    color:#F9FAF8;
    margin-top: 0;
}

.title{
    flex: 0 1 500px;
}
.image-placeholder{
    flex: 0 1 500px;
}
.image-placeholder{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#6d747d;
}

.title-signup{
    border:none;
    font-size: 18px;
    font-weight: 700;
    background-color: #3b82f6;
    color:white;
    border-radius: 8px;
    padding:8px 30px;
}

/* ####

CONTENT

#### */


.content{
    background-color:white;
}

.content-container{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    margin-bottom: 100px;
}

.info-title{
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    flex:1 0 100%;
    justify-self: center;
    align-self: start;
    text-align: center;    
    padding: 24px 0 0;
    margin-bottom:0;
}
.image-box{
    border:4px solid #3b82f6;
    border-radius: 10px;
    width:150px;
    height:150px;
}
.content-box{
    width: 150px;
    color:#4b5563;
    flex:0 1 0;
    text-align: center;
    margin:0;
    font-weight: 400;
    
}

/* ####

QUOTE

#### */
.quote{
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-content{
    flex-basis: 700px;
}
blockquote{
    flex-basis: 600px;
    font-weight: 300;
    font-style:italic;
    font-size: 36px;
    color: #1f2937;
    margin:0;
}
figcaption{
    align-self: flex-end;
    font-weight: 500;
    font-size: 24px;
    text-align: right;
}

/* ####

ACTION

#### */

.call-action{
    background-color: white;
}

.call-action-container{
    background-color:#3b82f6;
    color: white;
    border-radius: 8px;
    display: flex;
    width: 750px;
    justify-content: center;
    margin: 100px 0;
    padding: 12px 128px;
}

h3{
    font-size: 24px;
    margin-bottom: 0px;
}
.hero-secondary{
    margin-top:0px;
}
.call-action-text{
    flex:1 1 80%;
}
.action-button{
    flex:1 1 20%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.call-action-box{
    width: 800px;
    display: flex;
}
.call-action-button{
    background-color: #3b82f6;
    color: #fff;
    border-radius: 8px;
    border:2px solid #fff;
    font-size: 18px;
    padding:6px 32px;
}

.footer-container{
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin:50px 0;
    text-align:center;

}

